name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  run-tests:
    name: Run Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install python
        uses: actions/setup-python@v2
        with:
          python-version: "3.11.9"

      - name: Setup venv
        run: python -m venv .venv && source .venv/bin/activate

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install maturin

      - name: Run tests
        run: |
          maturin develop
          which python
          which maturin
          python tests/test.py
